<appSettings>
  <add key="BotId" value="Petrichor-Beta" />
  <add key="MicrosoftAppId" value="e3b75ffa-69bb-4ba3-a1a4-5f72e00b58a2" />
  <add key="MicrosoftAppPassword" value="rwaLHJK9{$%lesrYKR7852%" />

  <add key="BotServerUrl" value="https://bot-petrichor.azurewebsites.net/" />
  <add key="FacebookPageAccessToken" value="EAACLxw8hZApsBACDXUDvWBqmnX753N98C3vF2xHfoHQ8JlFE4nDKLitttzmYZC5qJi5t1QS5tCW7YrJD5JLAo8GlJWXIq7irnGudPkzrXBIHpgWKENPIKQnUNRpYgu2o8E3JZBwp7PasCa4eWisaVxjtwatAhLQK0b1GAoO5KqX2Uf9isJy" />
  <add key="MessengerBotId" value="BotPetrichor" />

  <add key="AzureWebJobsStorage" value="DefaultEndpointsProtocol=https;AccountName=petrichor;AccountKey=RPblZcISfh6WK+qV8iPaR1yuyWZRWvAVx3/e/69s4npj3GO3NYksF5NKhp26J0o7wzSr0IOUtIP27RxLB1Psag==;" />
</appSettings>